<div>
    <h2 class="my-2">Education Credentials</h2>
    <table class="table" *ngIf="edu.length > 0">
        <thead>
          <tr>
            <th>School</th>
            <th class="hide-sm">Degree</th>
            <th class="hide-sm">Years</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of edu">
            <td>{{e.school}}</td>
            <td class="hide-sm">{{e.degree}}</td>
            <td class="hide-sm">
              {{e.to}}
            </td>
            <td>
              <button class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
