<div class="add-beneficiary">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <a routerLink="/dashboard" class="btn btn-light"> Go Back </a>
          <h1 class="display-4 text-center">Add New Beneficiary</h1>
          <p class="lead text-center">
            All values marked with asterisk (*) are required
          </p>
          
          <form (ngSubmit)="createBeneficiarySubmit()">
            
            <small class="d-block pb-3">* Beneficiary Label</small>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Ex: Ben, Jim, Tony(savings),etc."
                name="account"
                required
                [(ngModel)]="beneficiary.beneficiaryId"
              />
            </div>
            <small class="d-block pb-3">* Beneficiary's Bank Account Number</small>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Ex: 1,23,300"
                name="bank"
                required
                [(ngModel)]="beneficiary.bankAccountNumber"
              />
            </div>
            <div class="d-block invalid-feedback">{{ error.bankAccountNumber }}</div>
            <input type="submit" class="btn btn-info btn-block mt-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
  
  


