<div>
  <h2 class="my-2">My Beneficiaries</h2>
  <h4 class="my-3" *ngIf="ben.length == 0 "> There is no content to display. </h4>
  <table class="table" *ngIf="ben.length > 0">
      <thead>
        <tr>
          <th>Beneficiary Name</th>
          <th>Account ID</th>
          <th class="hide-sm">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of ben">
          <td>
              {{b.beneficiaryId}}
          </td>
          <td>
            {{b._id}}
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteBeneficiary(b._id)">
                Delete
            </button>
        </td>
        </tr>
      </tbody>
    </table>
</div>


